body{
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 10% 20% 1fr 15%;
    grid-template-columns: 30% 1fr;
    grid-template-areas: "header header"
    "contenido contenido"
    "imagenes imagenes"
    "footer footer";
}

.header{
    grid-area: header;
}
.imagenLogo{
    height: 100px;
    padding-left: 25px;
}


.navegacion{
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100vw;
    height: 100px;
    position: fixed;
}

.navegacion ul li{
    list-style: none;
    padding: 20px;
    display: inline-block;
}

main{
width: 100vw;
height: 100vh;
}

.navegacion ul li a{
color: black;
text-decoration: none;
}

.contenido{
grid-area: contenido;
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
width: 99%;
}


.parrafo1{
    font-size: 18px;
    text-align: center;
    color: #444;
}

.imagenes{
    grid-area: imagenes;
display: flex;
flex-wrap: wrap;
height: 100vh;
padding-top: 10px;

}

.imagenes img{
    height: 400px;
    border-radius: 10px;
    padding: 5px;
}

footer{
    grid-area: footer;
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 120px;
}

@media screen and (max-width: 480px) {
    body{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 15% 1fr 1fr 20%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
        "contenido contenido"
        "imagenes imagenes"
        "footer footer";
    }

    .header{
        grid-area: header;
        width: 100vw;
    }
    .imagenLogo{
        height: 100px;
    }

    .navegacion{
        background-color: azure;
        width: 100vw;
        height: 100px;
        position: fixed;
        
    }
    
    .navegacion ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    
    main{
    width: 100vw;
    height: 100vh;
    }
    
    .navegacion ul li a{
    color: black;
    text-decoration: none;
    }
    
    .contenido{
        grid-area: contenido;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99%;
        }
        
        
        .parrafo1{
            font-size: 18px;
            text-align: center;
            color: #444;
        
        }
        
        .imagenes{
            grid-area: imagenes;
        display: flex;
        flex-direction: column;
        align-content: start;
        
        }
        
        .imagenes img{
            height: 159px;
            border-radius: 10px;
            padding: 5px;
        }
        
        footer{
            grid-area: footer;
            background-color: azure;
            display: flex;
            flex-direction: column;
            width: 100vw;
        }
}